.timeline-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding: 20px;
  position: relative;
  font-family: 'Arial', sans-serif;

  .timeline-title {
    width:170px;
    font-size: 24px;
    font-weight: bold;
    color: #6B7280;
    background: linear-gradient(to right, #3877EE, #EF5DA8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;

    &::before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(to bottom, #3877EE, #EF5DA8);
    }
  }

  .timeline-content {
    text-align: center;
  }

  .active-years {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 90px 0 0px 0;
    bottom: 200px;

    .active-year {
      font-size: 72px;
      font-weight: bold;
      margin: 0;
      line-height: 1;
    }
  }

  .date-indicator {
font-size: 12px;
    color: #000000;
    margin: 60px 10px 5px;
    display: flex
;
  }

  .events {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;

    .event {
      text-align: center;
      width: 23%;
      margin-bottom: 10px;

      .event-date {
        font-weight: bold;
        color: #3877EE;
        font-size: 14px;
        display:flex;
      }

      .event-description {
        font-size: 12px;
        color: #2C2C2C;
        line-height: 1.5;
            display: flex;
      justify-content: start; 
      text-align: left; 
      }
    }
  }

.navigation {
  display: flex;
  justify-content: flex-start; 

  margin-top: 0;
  padding: 0;

  .nav-arrow {
    font-size: 10px; 
    background: none;
    border: none;
    color: #6B7280;
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    border-radius: 100%; 
    background-color: #ffffff; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  

    &:hover {
      color: #3877EE; 
      background-color: #D1D5DB; 
      transform: scale(1.2); 
    }

    &.prev {
      margin-right: 5px;
    }

    &.next {
      margin-left: 5px;
    }
  }
}

  @media (max-width: 600px) {
    .active-years {
      flex-direction: column;
      gap: 10px;
    }

    .active-year {
      font-size: 48px;
    }

    .events {
      flex-direction: column;
      width: 100%;

      .event {
        width: 100%;
      }
    }
  }
}

.year-with-circle {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 40px auto;
}

.circle-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  transform: translate(-50%, -50%);
  z-index: 0; 
  pointer-events: none;
}


.active-years {
  position: relative; 
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 48px;
  font-weight: bold;
}


